# docker-compose.yml
version: '3.8'

services:
  # Backend API Go
  api:
    build: .
    container_name: electronic-shop-api
    ports:
      - "8080:8080"
    environment:
      - JWT_SECRET=votre-cle-secrete-bootcamp-go-2024
      - PORT=8080
    volumes:
      - ./data:/app/data
    restart: unless-stopped

  # Frontend (Nginx)
  frontend:
    image: nginx:alpine
    container_name: electronic-shop-frontend
    ports:
      - "3000:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - api
    restart: unless-stopped

volumes:
  data: